 /*
 Estilos sobre el body, html y todos los container de las páginas
 */

 body {
  font-family: 'Roboto', 'Trebuchet MS', sans-serif;
  /* Necesario para que el footer se quede abajo */
  height: 100%;
  display: flex;
  flex-direction: column;
}
html {
  height: 100%; /* Necesario para que el footer se quede abajo */
}

.container {
  font-family: 'Roboto', 'Trebuchet MS', sans-serif;
  flex: 1; /* Necesario para que el footer se quede abajo */
}

/*  
 Estilos navbar 
*/

.navbar {
  font-family: 'Roboto', 'Trebuchet MS', sans-serif;
  background-color: #7e10a3;
  padding: 1rem;
  box-shadow: 0px 2px 5px #7e10a3;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
} 

.navbar-brand {
  height: 3rem;
}

.navbar-brand:hover {
  cursor: pointer;
}

li.nav-item a.nav-link{
  color: white;
  transition: all .2s ease-in-out;
  font-weight: 700;
} 

li.nav-item a.nav-link:hover {
  color: #000000;
}

/*
Estilos de la página de registro
*/
.coverRegistro {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2rem 0 0 2rem;
}

@media screen and (max-width: 767px) {
  .coverRegistro{
    border-radius: 2rem;
  }
}

.campoIncorrecto {
  color: red;
  font-size: 0.8rem;
}

/*
Estilos de la página de usuario
*/

.avatarUsuario {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem;
}

.datosUsuario {
  background-color:#7e10a39e;
  border-radius: 1rem 0;
  color: white;
}

.datosTexto {
  margin: 1rem 2rem;
  padding-bottom: 2rem;
}

.campoUsuario {
  font-weight: 800;
}

.infoUsuario {
  color: black;
  margin-left: .5rem;
  font-weight: 600;
}

.tituloCuentaUsuario {
  margin-bottom: 2rem;
}

.tituloNombreUsuario {
  color:#7e10a3;
  font-weight: 700;
}

.botonAccionAdmin {
  width: 150px;
  height: 80px;
}

/*
Estilos de la página main
*/

.contenedorInstalaciones {
  margin-top: 3rem;
}
.tarjetaInstalacion {
  margin: 3rem 0 3rem 0;
}

.cuerpoTarjetaInstalacion {
  height: 10rem;
  overflow: scroll;
}

/*
Estilos de la página de instalacion
*/

.titulo-instalacion {
  margin-top: 2rem;
}

.containerImagenInstalacion {
  max-height: 480px;
}

.imagen-instalacion-main {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2rem 0;
}

.info-detallada-instalacion {
  margin: 2rem;
}

@media screen and (max-width: 992px) {
  .texto-detallado-instalacion {
      padding-top: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .texto-detallado-instalacion {
      max-height: 30rem;
      overflow: auto;
  }
}
.botonReserva {
  margin: 2rem 0 2rem 0;
}

/*
Estilos de la página de mensajes
*/

#cruzNuevoMensaje {
  font-weight: 800;
}

.mensajeContainer {
  margin: 1rem 0 1rem 0;
  padding: 1rem;
}

.headerMensaje {
  padding-top: 1rem;
  color: white;
  font-weight: 700;
  font-size: .9rem;
  background-color:#7e10a3;
  border-radius: 1rem 1rem 0 0;
}

.contenidoMensaje {
  border: 1px solid #7e10a3;
  border-top: none;
  border-radius: 0 0 1rem 0;
}

.emailMensaje {
  font-weight: 500;
  font-size: .9rem;
  margin-bottom: .5rem;
}

.asuntoMensaje {
  padding-top: 1rem;
  border: 1px solid #7e10a3;
  border-bottom: none;
  font-weight: 700;
}

/*
Estilos de la lista de usuarios
*/

.resultadoBusqueda {
  border: 1px solid #7e10a3;
  border-radius: .5rem;
  height: 11rem;
  padding: .5rem;
  overflow: auto;
}

/* 
Estilos del footer
*/

.footer-container {
  font-family: 'Roboto', 'Trebuchet MS', sans-serif;
  display: flex;
  color: white;
  background-color: #7e10a3;
  padding: 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 101%;
}

.footer-text-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-text {
  transition: all .2s ease-in-out;
  font-weight: 500;
  margin: .5rem;
}

.footer-text:hover {
  color: #000000;
  cursor: pointer;
}

.footer-logo {
  height: 2rem;
  margin-right: 2rem;
}

.footer-logo:hover {
  cursor: pointer;
}

.footer-icons-container {
  display: flex;
  flex-wrap: wrap;
}

.imagen-logo {
  height: 2rem;
  width: 2rem;
  margin: .5rem;
}

.imagen-logo:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .navbar-brand{
      display: none;
  }
}

/*
Estilos pagina de errores
*/

.contenedorMsgError {
  background-color:rgba(211, 211, 211, 0.402);
  border-radius: 2rem;
  margin-top: 5rem;
  padding: 2rem;
}

.volverHome {
  text-decoration: none;
  color: white;
  background-color: #7e10a39e;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}

/*
Estilos de la página de logout
*/

.contenedorLogout {
  margin: 2rem;
}

.linkLogout {
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 700;
}

#cancelLogout {
  border: 2px solid lime;
  color: lime;
}

#logout {
  border: 2px solid red;
  color: red;
}